<example>
    Hello {state.a} and {state.b}!

    <script>
        export default {
            onBeforeMount() {
                this.state = {
                    a: 'Josh',
                    b: 'Maia'
                };
            }
        }
    </script>
</example>
